<module>
	<rawname>javassh</rawname>
	<name>Java SSH</name>
	<version>1.0</version>
	<type>tool</type>
	<category>Module</category>
	<menuitems>
		<javassh>Java SSH</javassh>
	</menuitems>
	<location>release/javassh-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-JavaSSH</info>
	<md5sum>8fd7dab5433e6bffb9e7ccb5b7a372fe</md5sum>
</module>
